<!-- NEW -->
<div class='row'>
  <div class='col'></div>
  <div class='col-6'>
    <h3 class='text-primary'>
      <i class='fas fa-at'></i><i class='fas fa-user'></i>
      &nbsp;&nbsp;
      Modifica Password
    </h3>
    <hr/>
    <strong class='text-danger'>
      ATTENZIONE! la password deve avere una lunghezza di almeno 10 posizioni
      e contenere lettere maiuscole e minuscole, numeri e caratteri speciali
      per essere valida.
    </strong>
    <br/>
    <br/>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <div class='form-row align-items-center'>
        <div class='col'>
          <span class='text-primary'>
            Inserisci la Nuova Password
          </span>
          &nbsp;
          <small>
            ( lascia il campo vuoto se non vuoi modificarla )
          </small>
          <div class='input-group'>
            <%= f.password_field :password, autocomplete: 'new-password', class: 'form-control' %>
            <% if @minimum_password_length %>
              <br />
              <em><%= @minimum_password_length %> characters minimum</em>
            <% end %>
          </div>
        </div>
      </div>
      <br/>
      <div class='form-row align-items-center'>
        <div class='col'>
          <span class='text-primary'>
            Conferma la Nuova Password
          </span>
          &nbsp;
          <div class='input-group'>
            <%= f.password_field :password_confirmation, autocomplete: 'new-password', class: 'form-control' %>
          </div>
        </div>
      </div>
      <br/>
      <div class='form-row align-items-center'>
        <div class='col'>
          <span class='text-primary'>
            Inserisci la Password Corrente
          </span>
          &nbsp;
          <small>
            ( devi inserire la password corrente per confermere il cambio )
          </small>
          <div class='input-group'>
            <%= f.password_field :current_password, autocomplete: 'current-password', class: 'form-control' %>
          </div>
        </div>
      </div>
      <br/>
      <div class='form-row align-items-center'>
        <div class='col'>
          <%= button_tag(type: 'submit', class: 'btn btn-outline-primary btn-sm btn-block') do %>
            <strong>
              <i class='fas fa-save'></i>&nbsp;&nbsp;SALVA
            </strong>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class='col'></div>
</div>
