<div class='col-lg-12'>
  <h3 class='text-primary p-2'>
    <i class='fas fa-pencil-alt'></i>
    <i class='fas fa-receipt'></i>
    &emsp;
    <strong>
      Modificando la Ricevuta Liberalit&agrave; INCA
      &emsp; Numero:&nbsp;<%= @inca_receipt.name %>
      &emsp; Del:&nbsp;<%= l(@inca_receipt.date) %>
    </strong>
  </h3>
  <hr class='hr-primary p-2'/>
  <div class='card'>
    <div class='card-body shadow'>
      <% if @inca_receipt.pdf.attached? %>
        <%= render 'form_cancellation', inca_receipt: @inca_receipt %>
      <% elsif @inca_receipt.date.present? && !@inca_receipt.pdf.attached? %>
        <%= render 'form_attachment', inca_receipt: @inca_receipt %>
      <% else %>
        <%= render 'form', inca_receipt: @inca_receipt %>
      <% end %>
    </div>
  </div>
  <br/>
  <br/>
</div>
