<div class='col-lg-6 offset-3'>
  <div class='card border-primary'>
    <div class='card-body'>
      <p>&nbsp;</p>
      <%= image_tag('main_logo.svg', class: 'img-fluid') %>
      <br/>
      <br/>
      <br/>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class='form-row align-items-center'>
          <div class='col'>
            <div class='input-group'>
              <div class='input-group-prepend'>
                <div class='input-group-text input-group-text-form'>
                  <i class='fas fa-at'></i>
                </div>
              </div>
              <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control' %>
            </div>
          </div>
        </div>
        <br/>
        <div class='form-row align-items-center'>
          <div class='col'>
            <div class='input-group'>
              <div class='input-group-prepend'>
                <div class='input-group-text input-group-text-form'>
                  <i class='fas fa-key'></i>
                </div>
              </div>
              <%= f.password_field :password, autocomplete: 'current-password', class: 'form-control' %>
            </div>
          </div>
        </div>
        <br/>
        <div class='form-row align-items-center'>
          <div class='col'>
            <%= button_tag(type: 'submit', class: 'btn btn-outline-primary btn-sm btn-block') do %>
              <strong>
                <i class='fas fa-sign-in-alt'></i>&nbsp;&nbsp;ACCEDI
              </strong>
            <% end %>
          </div>
        </div>
      <% end %>
      <br/>
    </div>
  </div>
</div>
