<div class='col-lg-10 offset-1'>
  <span class='float-right'>
    <%= link_to howtos_path, class: 'btn btn-sm btn-primary' do %>
      <i class='fas fa-arrow-left'></i>
      &nbsp;
      <i class='fas fa-book'></i>
      &emsp;
      <strong>Ritorna alla lista</strong>
    <% end %>
    &emsp;
    <%= link_to edit_howto_path(@howto), class: 'btn btn-sm btn-primary' do %>
      <i class='fas fa-pencil-alt'></i>
      &nbsp;
      <i class='fas fa-book'></i>
      &emsp;
      <strong>Modifica la Guida</strong>
    <% end %>
    &emsp;
    <%= link_to @howto, method: :delete, data: { confirm: 'Sei sicuro di voler Eliminare il Record Corrente?' }, class: 'btn btn-sm btn-primary' do %>
      <i class='fas fa-trash-alt'></i>
      &nbsp;
      <i class='fas fa-book'></i>
      &emsp;
      <strong>Elimina la Guida</strong>
    <% end %>
  </span>
  <br/>
  &emsp;
  <div class='card shadow'>
    <div class='card-body'>
      <p>
        <i class='fas fa-book'></i>&nbsp;
        Titolo:&emsp;
        <strong>
          <%= @howto.title %>
        </strong>
        <span class='float-right'>
          <i class='fas fa-book-open'></i>&nbsp;
          Argomento:&emsp;
          <strong>
            <%= @howto.topic %>
          </strong>
        </span>
      </p>
      <hr class='hr-secondary'/>
      <p>
        <strong>Descrizione:</strong> <br/>
        <%= @howto.description %>
      </p>
    </div>
  </div>
</div>
